<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
  </div>
    <h1 class="text-center">Awesome Project</h1>
      <p class="text-center">Something awesome goes here</p>
  </div>
</div>
