            <div class="container container-blank">
              <h1>Devise</h1></br>
                <h3></h3>
                <h4><a href='https://rubygems.org/gems/devise/versions/3.5.1' target= '_blank'>gem 'devise'</a></h4>
                <h4><a href='https://github.com/plataformatec/devise' target= '_blank'>github documentation</a></h4>
                <pre class='textarea'>
                  <code>
                    $ rails generate devise:install
                    $ rails generate devise User
                    $ rails g devise:views
                    $ rake db:migrate
                    $ rake routes | grep user
                    $ bundle install
                    $ bundle update
                    $ rails server
                  </code>
                </pre>
                <h3></h3>
                <h4>Update routes examples <a href='https://github.com/Nalipp/devise_template/blob/master/app/views/layouts/_header.html.erb' target='_blank'>(header)</a>
                <a href='https://github.com/Nalipp/devise_template/blob/master/app/views/layouts/_footer.html.erb' target='_blank'>(footer)</a></h4>
                <p>To find the app routes ---- $ rake routes | grep user </p>
                <h3><h3>
                  <h4>Update controller to limit user access <a href='https://github.com/Nalipp/devise_template/blob/master/app/controllers/application_controller.rb' target='_blank'>(example)</a></h4>
                <pre class='textarea'>
                  <code>
                    before_action :authenticate_user!, except: [:home]
                  </code>
                </pre>
                <h3></h3>
              <h4>Add render 'layouts/messages' to <a href='https://github.com/Nalipp/devise_template/blob/master/app/views/layouts/application.html.erb' target='_blank'>application.html.erb</a> and create <a href='https://github.com/Nalipp/devise_template/blob/master/app/views/layouts/_messages.html.erb' target='_blank'>_messages.html.erb</a> helper class for flash messages.</h4>
              <h4>Create <a href='https://github.com/Nalipp/devise_template/blob/master/app/helpers/devise_hellper.rb' target='_blank'>devise_helper.rb</a><h4>
              <h4>Add javascript to <a href='https://github.com/Nalipp/devise_template/blob/master/app/assets/javascripts/pages.coffee' target='_blank'>pages.coffee</a></h4>
              <h4>Update <a href='https://github.com/Nalipp/devise_template/blob/master/app/assets/stylesheets/application.css.scss' target='_blank'>application.css.scss</a></h4>
              <pre class='textarea'>
                <code>
                  /*flash*/
                  .alert-error {
                      background-color: #f2dede;
                      border-color: #eed3d7;
                      color: #b94a48;
                      text-align: left;
                   }

                  .alert-alert {
                      background-color: #f2dede;
                      border-color: #eed3d7;
                      color: #b94a48;
                      text-align: left;
                   }

                  .alert-success {
                      background-color: #dff0d8;
                      border-color: #d6e9c6;
                      color: #468847;
                      text-align: left;
                   }

                  .alert-notice {
                      background-color: #dff0d8;
                      border-color: #d6e9c6;
                      color: #468847;
                      text-align: left;
                   }
                </code>
              </pre>
            </div>
            <div class='container'>
            <h3>To do</h3>
            <h4>Add email conformation</h4>
            <h4>Update form template</h4>
            <h4>better messages that don't interfere with the page html</h4>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
